<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/functions.js"></script>
    <style>
        body {
            background-image: url("<%= imageUrl %>");
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
        }
    </style>
    <title>Image Search</title>
</head>
